@page "/"
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<a href="test">forms</a>
<a href="totolist">TodoList</a>

<div>
    <h1>Crud</h1><br>
    <ul>
        <li><a href="patients">Crud patient</a></li>
    </ul>
</div>


